= form_for @booking_request do |f|
  .form
    .form-group
      = f.label :first_name
      = f.text_field :first_name
    .form-group
      = f.label :last_name
      = f.text_field :last_name
    .form-group
      = f.label :email
      = f.email_field :email
    .form-group
      = f.label :phone_number
      = f.telephone_field :phone_number
    .form-group
      = f.label :requested_date
      = f.date_field :requested_date, start_year: DateTime.now.year, end_year: (DateTime.now.year + 4)
    .form-group
      = f.label :requested_time
      = f.time_field :requested_time
    .form-group
      = f.label :package
      = f.collection_select :package_id, format_packages(PackageGroup.all), :id, ->(package){"#{package.name} | #{number_to_currency(package.total_cost, unit: '$')}"}
    .form-action
      = f.submit 'Save', class: 'BookingRequestCard__button_solid'
