= form_for @booking_request do |f|
  .form-group.row
    = f.label :first_name, class: 'col-sm-3 col-form-label'
    .col-sm-9
      = f.text_field :first_name, class: 'form-control'
  .form-group.row
    = f.label :last_name, class: 'col-sm-3 col-form-label'
    .col-sm-9
      = f.text_field :last_name, class: 'form-control'
  .form-group.row
    = f.label :email, class: 'col-sm-3 col-form-label'
    .col-sm-9
      = f.email_field :email, class: 'form-control'
  .form-group.row
    = f.label :phone_number, class: 'col-sm-3 col-form-label'
    .col-sm-9
      = f.telephone_field :phone_number, class: 'form-control'
  .form-group.row
    = f.label :requested_date, class: 'col-sm-3 col-form-label'
    .col-sm-9
      = f.datetime_select :requested_date, start_year: DateTime.now.year, end_year: (DateTime.now.year + 4), class: 'form-control'
  .form-group.row
    = f.label :package, class: 'col-sm-3 col-form-label'
    .col-sm-9
      = f.collection_select :package_id, format_packages(PackageGroup.all), :id, ->(package){"#{package.name} | #{number_to_currency(package.total_cost, unit: '$')}"}, class: 'form-control'
  .actions
    .text-center
      = f.submit 'Save', id: 'client-submit', class: 'btn btn-lg btn-primary'
