.SessionCard
  .SessionCard__card-body_rounded-top
    = form_for :session, url: session_path do |form|
      .form
        .form-group
          = form.label :email
          = form.text_field :email
        .form-group
          = form.label :password
          = form.password_field :password
        .form-action
          = form.submit 'Sign In', class: 'SessionCard__button_solid'
  .SessionCard__card-footer
    - if Clearance.configuration.allow_sign_up?
      %p.text-muted
        No account yet?
        = link_to t('.sign_up'), sign_up_path
      %p= link_to t('.forgot_password'), new_password_path
