= form_for @booking do |f|
  .form
    .form-group
      =f.label :name
      =f.text_field :name
    .form-group
      = f.label :start_date
      = f.date_field :start_date, start_year: DateTime.now.year, end_year: (DateTime.now.year + 4)
    .form-group
      = f.label :start_time
      = f.time_field :start_time
    .form-group
      = f.label :client
      = f.collection_select :client_id, Client.all, :id, ->(client){"#{client.first_name} #{client.last_name}"}
      %small{ id: 'clientHelp', class: 'text-muted' }
        = link_to 'Client not listed?', new_client_path
    .form-group
      = f.label :package
      = f.collection_select :booking_package, format_packages(PackageGroup.all), :id, ->(package){"#{package.name} | #{number_to_currency(package.total_cost, unit: '$')}"}
      %small{ id: 'packageHelp', class: 'text-muted' }
        = link_to 'Package not listed?', package_groups_path
    .form-action
      = f.submit 'Save', class: 'BookingCard__button_solid'
      %input{ value: 'Back', type: 'button', method: 'get', class: 'BookingCard__button_outline', onclick: 'history.back()'}
