.container-fluid
  .row.justify-content-center.mt-4
    .text-center
      = button_to new_booking_path, class: 'btn btn-primary btn-lg mt-2', method: 'get'  do
        %i{ class: 'fa fa-plus-circle' }
        \Create Booking
  %hr
  - if @bookings.count > 0
    .grid
      .grid-sizer
      - @bookings.each do |booking|
        .card.grid-item
          .card-header
            .text-right
              %td
                = link_to booking_path(booking), method: 'delete', class: 'icon-link', 'data-toggle': 'tooltip', 'data-placement': 'bottom', title: 'Delete this booking', data: { confirm: 'Are you sure?' } do
                  %i{ class: 'fa fa-minus-circle fa-2x icon-delete', 'aria-hidden': 'true' }
              %td
                = link_to edit_booking_path(booking), class: 'icon-link' do
                  %i{ class: 'fa fa-pencil fa-2x icon-edit', 'data-toggle': 'tooltip', 'data-placement': 'bottom', title: 'Edit this booking', 'aria-hidden': 'true' }
              %td
                = link_to booking_path(booking), class: 'icon-link'  do
                  %i{ class: 'fa fa-search fa-2x icon-view', 'data-toggle': 'tooltip', 'data-placement': 'bottom', title: 'View this booking','aria-hidden': 'true' }
          .card-body
            %h3.card-title.text-center= booking.name
            <hr>
            %h4.card-title Client Information
            %p.card-text
              %span= link_to "#{booking.client.first_name} #{booking.client.last_name}", client_path(booking.client)
            %p.card-text
              %span.text-muted Email:
              = booking.client.email
            %p.card-text
              %span.text-muted Phone:
              = booking.client.phone_number
            <hr>
            %h4.card-title Booking Details
            %p.card-text
              %span.text-muted Package:
              = booking.booking_package.name
            %p.card-text
              %span.text-muted Scheduled date:
              = format_datetime(booking.start_time)
            %p.card-text
              %span.text-muted Duration:
              = booking.booking_package.duration
              %span.text-muted mins
            %p.card-text
              %span.text-muted Total cost:
              = number_to_currency(booking.booking_package.total_cost)
            %p.card-text
              %span.text-muted Retainer fee:
              = number_to_currency(booking.booking_package.retainer_fee)
  - elsif @bookings.count == 0 && params[:client_id]
    .row.justify-content-center
      .col-md-6
        .alert.alert-info
          .text-center
            %h3 No Bookings Found!
            %p The selected client does not currently have any bookings entered. Use the "Create Booking" button to enter a booking for this client.
  - else
    .row.justify-content-center
      .col-md-6
        .alert.alert-info
          .text-center
            %h3 No Bookings Found!
            %p Bookings are the connection between the client, package, and photographer, representing the individual session event. Go ahead and start adding existing bookings in now if you have them.
:javascript
  document.addEventListener('turbolinks:load', function() {
    let grid = document.querySelector('.grid');

    let msnry = new Masonry( grid, {
      itemSelector: '.grid-item',
      columnWidth: '.grid-sizer',
      percentPosition: true,
      gutter: 10
    });
  }, false);
