.BookingsRibbon
  = button_to I18n.t('pages.bookings.index.action-ribbon.create'), new_booking_path, method: 'get', class: 'BookingsRibbon__button_solid'
%hr
.BookingsContainer
  - if @bookings.count > 0
    - @bookings.each do |booking|
      .BookingsCard.BookingsContainer__grid-item
        .BookingsCard__card-header
          .BookingsIconPanel
            = link_to booking_path(booking), class: 'BookingsIconPanel__icon-link'  do
              %i{ class: 'fa fa-eye fa-2x BookingsIconPanel__icon-link_view', title: I18n.t('pages.bookings.index.icon-panel.view'), 'aria-hidden': 'true' }
            = link_to edit_booking_path(booking), class: 'BookingsIconPanel__icon-link' do
              %i{ class: 'fa fa-pencil fa-2x BookingsIconPanel__icon-link_edit', title: I18n.t('pages.bookings.index.icon-panel.edit'), 'aria-hidden': 'true' }
            = link_to booking_path(booking), class: 'BookingsIconPanel__icon-link', method: 'delete', data: { confirm: 'Are you sure?' } do
              %i{ class: 'fa fa-trash fa-2x BookingsIconPanel__icon-link_delete', title: I18n.t('pages.bookings.index.icon-panel.delete'), 'aria-hidden': 'true' }
        .BookingsCard__card-body_rounded-bottom
          %h3= link_to "#{booking.client.first_name} #{booking.client.last_name}", client_path(booking.client)
          %p.text-centered
            %span.text-muted= "#{format_date(booking.start_date)} at #{format_time(booking.start_time)}"
          %p
            %span.text-muted= "#{I18n.t('models.booking_package.fields.duration')}:"
            = booking.booking_package.duration
            %span.text-muted mins
          %p
            %span.text-muted= "#{I18n.t('models.booking_package.fields.name')}:"
            = booking.booking_package.name
          %p
            %span.text-muted= "#{I18n.t('models.booking_package.fields.total_cost')}:"
            = number_to_currency(booking.booking_package.total_cost)
          %p
            %span.text-muted= "#{I18n.t('models.booking_package.fields.retainer_fee')}:"
            = number_to_currency(booking.booking_package.retainer_fee)
  - elsif @bookings.count == 0 && params[:client_id]
    .BookingsCard.BookingsContainer__grid-item_single
      .BookingsCard__card-body_rounded
        %h3= I18n.t('pages.bookings.index.messages.no-bookings-for-client.heading')
        %p= I18n.t('pages.bookings.index.messages.no-bookings-for-client.text')
  - else
    .BookingsCard.BookingsContainer__grid-item_single
      .BookingsCard__card-body_rounded
        %h3= I18n.t('pages.bookings.index.messages.no-bookings.heading')
        %p= I18n.t('pages.bookings.index.messages.no-bookings.text')
