= form_for @client do |f|
  .form
    .form-group
      = f.label :first_name
      = f.text_field :first_name, class: 'form-control'
    .form-group
      = f.label :last_name
      = f.text_field :last_name, class: 'form-control'
    .form-group
      = f.label :email
      = f.email_field :email, class: 'form-control'
    .form-group
      = f.label :phone_number
      = f.telephone_field :phone_number, class: 'form-control'
    .form-action.ClientCard__button-group
      = f.submit 'Save', id: 'client-submit', class: 'ClientCard__button_solid'
      %input{ value: 'Back', type: 'button', method: 'get', class: 'ClientCard__button_outline', onclick: 'history.back()'}
