.ClientsRibbon
  = form_tag '#', id: 'client-listing-actions', method: 'get', class: 'ClientsRibbon__form_inline' do
    = text_field_tag :search, params[:search], placeholder: 'Search clients...', id: 'nav-search-box'
    = submit_tag 'Search', id: 'client-search', class: 'ClientsRibbon__button_outline'
    = submit_tag 'Create', id: 'client-create', class: 'ClientsRibbon__button_solid'
%hr
.ClientsContainer
  - if @clients.count > 0
    - @clients.each do |client|
      .ClientsCard.ClientsContainer__grid-item
        .ClientsCard__card-header
          .ClientsIconPanel
            = link_to client_path(client), class: 'ClientsIconPanel__icon-link'  do
              %i{ class: 'fa fa-eye fa-2x ClientsIconPanel__icon-link_view', title: 'View this client' }
            = link_to edit_client_path(client), class: 'ClientsIconPanel__icon-link' do
              %i{ class: 'fa fa-pencil fa-2x ClientsIconPanel__icon-link_edit', title: 'Edit this client' }
            = link_to client_path(client), method: 'delete', class: 'ClientsIconPanel__icon-link', data: { confirm: 'Are you sure?' } do
              %i{ class: 'fa fa-trash fa-2x ClientsIconPanel__icon-link_delete', title: 'Delete this client' }
        .ClientsCard__card-body_rounded-bottom
          %h3= "#{client.first_name} #{client.last_name}"
          %p.text-centered= client.email
          %p.text-centered= client.phone_number
          =link_to 'Bookings', bookings_path(params: { client_id: client })
  - elsif @clients.count == 0 && params[:search]
    .ClientsCard.ClientsContainer__grid-item_single
      .ClientsCard__card-body_rounded
        %h3 No clients found!
        %p.text-centered
          Try using a different search term, or
          = link_to 'create a new client', new_client_path
          now.
  - else
    .ClientsCard.ClientsContainer__grid-item_single
      .ClientsCard__card-body_rounded
        %h3 No clients exist for photographer yet.
        %p.text-centered Now is a great time to add an existing client's information into the application. Click on the 'Create' button near the middle of the screen at the top to get started.
:javascript
  document.addEventListener('turbolinks:load', function() {
    let form = document.getElementById('client-listing-actions');
    let search = document.getElementById('client-search');
    let create = document.getElementById('client-create');

    search.addEventListener('click', requestClientSearch);
    create.addEventListener('click', requestClientCreate);

    function requestClientSearch(e) {
      e.preventDefault();
      let target = "#{clients_path}";
      form.setAttribute('action', target);
      form.submit();
    }

    function requestClientCreate(e) {
      e.preventDefault();
      let target = "#{new_client_path}";
      form.setAttribute('action', target);
      form.submit();
    }
  }, false);
