= form_for @package_group do |f|
  .form
    .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control', placeholder: 'e.g. Weddings'
    .form-group
      = f.label :description
      = f.text_area :description, class: 'form-control', placeholder: 'e.g. Capture one of your most important life moments. From first look to flower toss, your big day is covered. Choose the package that provides the coverage that you need.'
    .form-action
      = f.submit 'Save', id: 'package-group-submit'
