.PackageGroupsRibbon
  = button_to I18n.t('pages.package_groups.index.action-ribbon.create'), new_package_group_path, method: 'get', class: 'PackageGroupsRibbon__button_solid'
%hr
.PackageGroupsContainer
  - if @package_groups.count > 0
    - @package_groups.each do |pg|
      .PackageGroupsContainer__callout.PackageGroupsHero
        .PackageGroupsIconPanel
          = link_to edit_package_group_path(pg), class: 'PackageGroupsIconPanel__icon-link' do
            %i{ class: 'fa fa-pencil fa-2x PackageGroupsIconPanel__icon-link_edit', title: I18n.t('pages.package_groups.index.icon-panel.view') }
          = link_to package_group_path(pg), class: 'PackageGroupsIconPanel__icon-link', method: 'delete', data: { confirm: 'Are you sure?' } do
            %i{ class: 'fa fa-trash fa-2x PackageGroupsIconPanel__icon-link_delete', title: I18n.t('pages.package_groups.index.icon-panel.delete') }
        %h1.PackageGroupsHero__heading= pg.name
        %p.PackageGroupsHero__lead
          - if pg.description != ''
            = pg.description
        = button_to I18n.t('pages.package_groups.index.other.create-package'), new_package_group_package_path(pg), method: 'get', class: 'PackageGroupsHero__button_outline'
      - if pg.packages.count.zero?
        .PackageGroupsContainer__grid-item_single.PackageGroupsCard
          .PackageGroupsCard__card-body_rounded
            %h3= I18n.t('pages.packages.index.messages.no-packages.heading')
            %p.text-centered= I18n.t('pages.packages.index.messages.no-packages.text')
      - else
        - pg.packages.order(total_cost: :asc).each do |package|
          %div{ class: "PackageGroupsContainer__grid-item#{element_for_pg_item(pg.packages.count)} PackageGroupCard" }
            .PackagesCard__card-header
              .PackagesIconPanel
                = link_to package_group_package_path(pg, package), class: 'PackagesIconPanel__icon-link'  do
                  %i{ class: 'fa fa-eye fa-2x PackagesIconPanel__icon-link_view', title: I18n.t('pages.packages.index.icon-panel.view') }
                = link_to edit_package_group_package_path(pg, package), class: 'PackagesIconPanel__icon-link' do
                  %i{ class: 'fa fa-pencil fa-2x PackagesIconPanel__icon-link_edit', title: I18n.t('pages.packages.index.icon-panel.edit') }
                = link_to package_group_package_path(pg, package), class: 'PackagesIconPanel__icon-link', method: 'delete', data: { confirm: 'Are you sure?' } do
                  %i{ class: 'fa fa-trash fa-2x PackagesIconPanel__icon-link_delete', title: I18n.t('pages.packages.index.icon-panel.delete') }
            .PackagesCard__card-body_rounded-bottom
              = render partial: 'packages/package_details', package: package
  - else
    .PackageGroupsContainer__grid-item_single.PackageGroupCard
      .PackageGroupsCard__card-body_rounded
        %h3= t('pages.package_groups.index.messages.no-package-groups.heading')
        %p.text-centered= t('pages.package_groups.index.messages.no-package-groups.text')
