.PackageGroupsContainer
  - if @package_groups.count > 0
    - @package_groups.each do |pg|
      .PackageGroupsContainer__callout.PackageGroupsHero
        %h1.PackageGroupsHero__heading= pg.name
        %p.PackageGroupsHero__lead
          - if pg.description != ''
            = pg.description
      - if pg.packages.count.zero?
        .PackageGroupsContainer__grid-item_single.PackageGroupsCard
          .PackageGroupsCard__card-body_rounded
            %h3 Pricing for this group has not been published by the business yet.
            %p Check back later; this page is under construction.
      - elsif (pg.packages.count % 3).zero?
        - pg.packages.order(total_cost: :asc).each do |package|
          .PackageGroupsContainer__grid-item_triple.PackagesCard
            .PackagesCard__card-body_rounded
              %h3= package.name
              %p= package.description
              %p
                %span.text-muted Duration:
                = package.duration
                %span.text-muted mins
              %p
                %span.text-muted Total cost:
                = number_to_currency(package.total_cost, unit: '$')
              %p
                %span.text-muted Retainer fee:
                = number_to_currency(package.retainer_fee, unit: '$')
      - elsif (pg.packages.count % 2).zero?
        - pg.packages.order(total_cost: :asc).each do |package|
          .PackageGroupsContainer__grid-item_double.PackagesCard
            .PackagesCard__card-body_rounded
              %h3= package.name
              %p= package.description
              %p
                %span.text-muted Duration:
                = package.duration
                %span.text-muted mins
              %p
                %span.text-muted Total cost:
                = number_to_currency(package.total_cost, unit: '$')
              %p
                %span.text-muted Retainer fee:
                = number_to_currency(package.retainer_fee, unit: '$')
      - elsif pg.packages.count == 1
        - pg.packages.order(total_cost: :asc).each do |package|
          .PackageGroupsContainer__grid-item_single.PackagesCard
            .PackagesCard__card-body_rounded
              %h3= package.name
              %p= package.description
              %p
                %span.text-muted Duration:
                = package.duration
                %span.text-muted mins
              %p
                %span.text-muted Total cost:
                = number_to_currency(package.total_cost, unit: '$')
              %p
                %span.text-muted Retainer fee:
                = number_to_currency(package.retainer_fee, unit: '$')
      - elsif pg.packages.count == 1
        - pg.packages.order(total_cost: :asc).each do |package|
          .PackageGroupsContainer__grid-item_single.PackageGroupsCard
            .PackagesCard__card-body_rounded
              %h3= package.name
              %p= package.description
              %p
                %span.text-muted Duration:
                = package.duration
                %span.text-muted mins
              %p
                %span.text-muted Total cost:
                = number_to_currency(package.total_cost, unit: '$')
              %p
                %span.text-muted Retainer fee:
                = number_to_currency(package.retainer_fee, unit: '$')
      - else
        - pg.packages.order(total_cost: :asc).each do |package|
          .PackageGroupsContainer__grid-item.PackageGroupsCard
            .PackagesCard__card-body_rounded
              %h3= package.name
              %p= package.description
              %p
                %span.text-muted Duration:
                = package.duration
                %span.text-muted mins
              %p
                %span.text-muted Total cost:
                = number_to_currency(package.total_cost, unit: '$')
              %p
                %span.text-muted Retainer fee:
                = number_to_currency(package.retainer_fee, unit: '$')
  - else
    .PackageGroupsContainer__grid-item_single.PackageGroupsCard
      .PackageGroupsCard__card-body_rounded
        %h3 Pricing has not been published by the business yet.
        %p Check back later; this page is under construction.
