.PackageGroupsContainer
  - if @package_groups.count > 0
    - @package_groups.each do |pg|
      .PackageGroupsContainer__callout.PackageGroupsHero
        %h1.PackageGroupsHero__heading= pg.name
        %p.PackageGroupsHero__lead
          - if pg.description != ''
            = pg.description
      - if pg.packages.count.zero?
        .PackageGroupsContainer__grid-item_single.PackageGroupCard
          .PackageGroupCard__card-body_rounded
            %h3= I18n.t('pages.public.pricing.messages.no-packages.heading')
            %p= I18n.t('pages.public.pricing.messages.no-packages.text')
      - else
        - pg.packages.order(total_cost: :asc).each do |package|
          %div{ class: "PackageGroupsContainer__grid-item#{element_for_pg_item(pg.packages.count)} PackageGroupCard" }
            .PackagesCard__card-body_rounded
              = render partial: 'packages/package_details', package: package
  - else
    .PackageGroupsContainer__grid-item_single.PackageGroupCard
      .PackageGroupCard__card-body_rounded
        %h3= I18n.t('pages.public.pricing.messages.no-package-groups.heading')
        %p= I18n.t('pages.public.pricing.messages.no-package-groups.text')
