!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1.0' }
    %title PhotogApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{ src: 'https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js' }
    %script{ src: 'https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js' }
  %body
    = render 'layouts/nav'
    = render 'layouts/header'
    = yield
